.countries__container {
    width: 90%;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .countries__container {
        width: 100%;
        justify-content: center;
    }
}